<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">

    <title>Book Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h1>Library Management System</h1>
    <hr>
    <h2>Update Books</h2>

    <form action="#" th:action="@{/admin/save-writer}" th:object="${writer}" method="POST">

        <div class="form-group">
            <label for="name" class="control-label">Name</label>
            <input type="text" id="name" class="form-control" th:field="*{name}" />
        </div>

        <button type="submit" class="btn btn-info col-2">Save Writer</button>
    </form>

    <hr>

    <a th:href="@{/}"> Back to Book List</a>
</div>
</body>
</html>