<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">

    <title>Book Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h1>Library Management System</h1>
    <hr>
    <h2>Update Books</h2>

    <form action="#" th:action="@{/admin/saveBook}" th:object="${book}" method="POST">

        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label for="name" class="control-label">Name</label>
            <input type="text" id="name" class="form-control" th:field="*{name}" />
        </div>


        <div class="form-group">
            <label for="isbn" class="control-label">ISBN</label>
            <input type="text" id="isbn" class="form-control" th:field="*{isbn}" />
        </div>

        <div class="form-group" >
            <label for="writer" class="control-label">Writer</label>
            <select th:field="*{writer}" id="writer">

                <option th:each="writer : ${listWriters}"
                        th:value="${writer.getId()}"
                        th:text="${writer.getName()}" />
            </select>
        </div>

        <div class="form-group">
            <label for="genre" class="control-label">Genre</label>
            <select th:field="*{genre}" id="genre">
                <option th:value="'Psychological'" th:text="Psychological"></option>
                <option th:value="'Philosophy'" th:text="Philosophy"></option>
                <option th:value="'History'" th:text="History"></option>
                <option th:value="'Travel'" th:text="Travel"></option>
                <option th:value="'Novel'" th:text="Novel"></option>
            </select>
        </div>

        <div class="form-group">
            <label for="numberOfPages" class="control-label">Page Number</label>
            <input type="number" id="numberOfPages" class="form-control" th:field="*{numberOfPages}" />
        </div>


        <button type="submit" class="btn btn-info col-2"> Update Book</button>
    </form>

    <hr>

    <a th:href="@{/}"> Back to Book List</a>
</div>
</body>
</html>